.card {
  font-family: arial;
  font-size: 16px;
  color: black;
  background-color: white;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.purple {
  background: purple;
}

.gray {
  background: gray;
}

.empty {
  background: transparent;
}

.src {
  display: none;
}

.view {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 4px;
  padding: 16px;
}

.board {
  border: solid 2px black;
  flex: none;
}

.nexts {
  display: flex;
  gap: 2px;
  flex: none;
}

.next {
  border: solid 2px black;
  flex: none;
}

.msg {
  padding: 2px 10px;
}

td {
  width: 16px;
  height: 16px;
}
